* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	/*The browser emphasizes legibility over rendering speed and geometric precision.*/
	text-rendering: : optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a: hover,
a: active {
	text-decoration: none;
}

h1,
h2,
h4  {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}

p {
	font-size: 18px;
	line-height: 23px;
}

.btn {
	transition: all 300ms ease-in-out;
	font-weight: 700 !important;
}

.btn:hover {
	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: 1px solid #fff !important;
}

/* NAVIGATION*/

.navbar {
	background-color: #222222 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}

.navbar a {
	color: #fff !important;
	opacity: 0.7;
}

.navbar a:hover {
	opacity: 1;
	background-color: #111111 !important;
}

.navbar-default .navbar-nav>.active>a {
	opacity: 1;
	background-color: #111111 !important;
}

/*HEADER*/

.header {
	height: 600px;
	width: 100%;
	margin-top: 50px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/meeting.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color: #fff;
	background-color: rgba(12, 12, 12, 0.6);
}

.header img {
	height: 350px;
	width: 350px;
	margin: 130px 0 0 40px;
	border-style: groove;
	border-width: 2px;
	border-color: #fff;
	vertical-align: middle;
}

.header h1 {
	font-size: 40px;
	font-weight: 700;
	padding-top: 150px;
}

.header h1,
.header p,
.header button {
	margin-top: 20px;
}

.header .btn {
	margin: 40px 20px;
}

@media(max-width: 768px) {

	.header {
		padding: 20px;
		height: 750px;
	}

	.header img {
		width: 250px;
		height: 250px;
		margin: 20px 0 0 20px;
	}

	.header .btn {
		font-size: 15px;
		margin-left: 20px;
	}

	.header h1 {
		font-size: 25px;
		padding-top: 10px;
	}

	.header p {
		font-size: 15px;
	}
}

/*ABOUT ME*/

.aboutme {
	padding: 50px 0 25px;
	text-align: center;
}

.aboutme h2 {
	font-family: 'Playfair Display', serif;
	color: #171717;
	margin: 30px 0 50px;
	font-size: 40px;
}

.aboutme p {
	font-family: 'Work Sans', sans-serif;
	color: #737373;
	font-size: 18px;
	line-height: 23px;
	padding-bottom: 40px;
}

/*FEEDBACK*/

.feedback {
	background-color: #222222 !important;
	padding: 25px;
	text-align: center;
	height: 370px;
	padding: 50px 0 50px;
}

.feedback blockquote {
	font-family: 'Playfair Display', serif;
	border-left: none;
}

.feedback h1 {
	font-family: 'Playfair Display', serif;
	color: #fff !important;
	padding-bottom: 30px;
}

.feedback p {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-style: italic;
	color: #fff !important;
}

.feedback footer {
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 30px;
}

/*SERVICES*/

.services {
	padding: 80px 0 80px;
	text-align: center;
}

.services h2,
.services h4 {
	font-family: 'Playfair Display', serif;
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.services h2 {
	font-size: 40px;
}

.services h4 {
	font-size: 22px;
}

.services p {
	color: #737373;
	font-size: 16px;
	padding-bottom: 40px;
}

.services i {
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #6699cc;
	color: white;
}

@media(max-width: 768px) {
	.services {
		padding: 30px;
	}
}

/*resume*/

.resume {
	padding: 0 0 50px;
	background-color: #3399ff;
}

.resume h1 {
	background-color: #f0ad4e;
	border-radius: .25em;
	color: #fff;
	text-align: center;
	width: 50px;
}

.resume h2 {
	font-family: 'Playfair Display', serif;
	margin: 50px 0 30px;
}

.resume p {
	font-family: 'Work Sans', sans-serif;
	margin-bottom: 30px;
}

/*CLIENTS*/

.clients {
	background-color: #222222 !important;
	padding: 25px;
	text-align: center;
	height: 450px;
	padding: 50px 0 50px;
}

.clients h2 {
	font-family: 'Playfair Display', serif;
	color: #fff !important;
	margin-bottom: 20px;
}

.clients p {
	font-family: 'Work Sans', sans-serif;
	margin-bottom: 60px;
	color: #fff !important;
}

.clients .text-center {
	height: 150px;
}

.clients img {
	width: 150px;
	opacity: 0.6;
	cursor: pointer;
	transition: all 800ms ease-in-out;
}

.clients .text-center:hover img {
	opacity: 1;
}

.clients .trusted p {
	text-align: center;
}

.clients #adidas {
	margin-top: 36px;
}

.clients #unicredit {
	margin-top: 63px;
}

.clients #liberty {
	margin-top: 25px;
}

/*RESUME*/

.experience {
	padding: 50px 0 25px;
}

.experience h2 {
	text-align: center;
	padding-bottom: 20px;
}


.experience h2, h3, h4 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.experience h3 {
	font-size: 20px;
}

.experience p {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
}

.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline >li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline >li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.leftjob {
	margin-left: 15px;
}

.rightjob {
	margin-right: 15px;
}